# Assignments :

# 1-:

In [1]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def introduce(self):
        print(f"The name is {self.name} and age is {self.age}")

In [2]:
person=Person("Debasish",20)
person.introduce()

The name is Debasish and age is 20

2-:

In [4]:
class Car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
        
    def display_info(self):
        print(f"the {self.brand} {self.model} is here.")

In [6]:
car1=Car("Audi","Q7")
car1.display_info()

the Audi Q7 is here.

In [22]:
class BankAccount:
    def __init__(self,account_number,balance=0):
        self.account_number=account_number
        self.balance=balance
        
    def diposit(self,diposit) :
        self.diposit=diposit
        self.balance += diposit
        
    
    def display_balance(self):
        print(f"the account number is:{self.account_number}and balance is :{self.balance}")

In [23]:
account1=BankAccount("1234",0)
account1.balance

0

In [24]:
account1.diposit(500)
account1.balance

500

In [25]:
account1.display_balance()

the account number is:1234and balance is :500

4-:

In [26]:
class MobilePhone:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
        
    def make_call(self,number):
        self.number=number
        print(f"call {self.number} on {self.brand} {self.model} phone")

In [30]:
phone=MobilePhone("Nokia","1200",)

In [31]:
phone.make_call(876308833)

call 876308833 on Nokia 1200 phone

5:-

In [32]:
class Book:
    def __init__(self,title,author):
        self.title=title
        self.author=author
        
    def display_info(self):
        print(f"The title is {self.title} and author is {self.author}")

In [33]:
books=Book("Physics","SL Arora")
books.display_info()

The title is Physics and author is SL Arora

6:-

In [48]:
class vehicle:
    def __init__(self,brand):
        self.brand=brand

In [49]:
class Car(vehicle):
    def __init__(self,brand,model,year):
        super().__init__(brand)
        self.model=model
        self.year=year
        
    def start_engine(self):
        
        print(f"The {self.brand} {self.model} which made in {self.year} is start")
        
    def stop_engine(self):
        
        print(f"The car {self.brand} {self.model} which made in {self.year} is stoped")

In [50]:
class Motorcycle(vehicle):
    def __init__(self,brand,model,year):
        super().__init__(brand)
        self.model=model
        self.year=year
        
    def start_engine(self):
        
        print(f"The bike {self.brand} {self.model} which made in {self.year} is start")
        
    def stop_engine(self):
        
        print(f"The bike {self.brand} {self.model} which made in {self.year} is stoped")

In [51]:
vehicle1=Car("Honda","city","1900")

In [52]:
vehicle1.stop_engine()

The car Honda city which made in 1900 is stoped

In [53]:
vehicle1.start_engine()

The Honda city which made in 1900 is start

In [54]:
vehicle2=Motorcycle("Hero","delux","1890")

In [55]:
vehicle2.start_engine()

The bike Hero delux which made in 1890 is start

In [56]:
vehicle2.stop_engine()

The bike Hero delux which made in 1890 is stoped

7:-

In [58]:
class Animal:
    def __init__(self,name):
        self.name=name
        
    def eat(self):
        print(f"The {self.name} is eating ")
        
    def sleep(self):
        print(f"THe {self.name} is sleeping ")

In [59]:
class Dog(Animal):
    def __init__(self,name):
        super().__init__(name)
        
    def barks(self):
        print(f" {self.name} barks")

In [60]:
class Cat(Animal):
    def __init__(self,name):
        super().__init__(name)
        
    def meow(self):
        print(f"{self.name} meow")

In [61]:
animal1=Animal("allice")

In [62]:
animal1.eat()

The allice is eating

In [63]:
cat=Cat("tom")
cat.meow()

tom meow

8:-

In [9]:
class LibraryItem:
    def __init__(self,author):
        
        self.author=author

In [10]:
class book(LibraryItem):
    def __init__(self,title,author,publication_year):
        super().__init__(author)
        self.title=title
        self.publication_year=publication_year
        
    def checkout(self):
        print(f"the {self.author}'s {self.title} book was published on {self.publication_year}")
        
    def return_item(self):
        print(f"{self.title} book is to return. ")

In [11]:
class magazine(LibraryItem):
    def __init__(self,title,author,publication_year):
        super().__init__(author)
        self.title=title
        self.publication_year=publication_year
        
    def checkout(self):
        print(f"the {self.author}'s {self.title} magazine was published on {self.publication_year}")
        
    def return_item(self):
        print(f"{self.title} magazine is to return. ")

In [12]:
book1=book("physics","sl arora","1800")

In [13]:
book1.checkout()

the sl arora's physics book was published on 1800

In [14]:
book1.return_item()

physics book is to return.

In [15]:
mg1=magazine("koutilya","sk.khuntia","1950")

In [16]:
mg1.checkout()

the sk.khuntia's koutilya magazine was published on 1950

In [17]:
mg1.return_item()

koutilya magazine is to return.

9:-

In [63]:
class Employee:
    def __init__(self,name,salary,department):
        self.name=name
        self.salary=salary
        self.department=department
        
class manager(Employee) :
    def __init__(self,name,salary,department):
        
        super().__init__(name,salary,department)
        self.tasks=[]
    
    def assign_task(self,task):
        if task in self.tasks:
            
            self.tasks.append(task)
            
            print(f'{self.tasks} is the task for manager')
            
        else:
            print("no task found")
        
class staff(Employee):
    def __init__(self,name,salary,department):
        super().__init__(name,salary,department)
         
    def attend_meeting(self):
        print(f"{self.name} employee attend the meeting")

In [64]:
employee=manager("debu","5000","saling")

In [65]:
employee.assign_task('you have to sale this today ')

no task found

In [68]:
empl2=staff("debu","5000","saling")
empl2.attend_meeting()

debu employee attend the meeting

In [69]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.balance = balance

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew {amount} from account {self.account_number}.")
        else:
            print("Insufficient funds.")

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount} into account {self.account_number}.")


class CheckingAccount(BankAccount):
    def __init__(self, account_number, balance):
        super().__init__(account_number, balance)
        self.transaction_limit = 500

    def withdraw(self, amount):
        if amount <= self.transaction_limit:
            super().withdraw(amount)
        else:
            print(f"Transaction limit exceeded. Maximum withdrawal amount is {self.transaction_limit}.")


class SavingsAccount(BankAccount):
    def __init__(self, account_number, balance):
        super().__init__(account_number, balance)
        self.withdrawal_limit = 3

    def withdraw(self, amount):
        if self.withdrawal_limit > 0:
            super().withdraw(amount)
            self.withdrawal_limit -= 1
        else:
            print("Withdrawal limit exceeded. No more withdrawals allowed.")



checking = CheckingAccount("123456789", 1000)
savings = SavingsAccount("987654321", 5000)

In [73]:

checking.withdraw(200)

Withdrew 200 from account 123456789.

In [75]:
checking.balance

800