In [29]:
words=keyword.kwlist
words

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [30]:
len(words)

35

In [31]:
a=4
b=5
c=a+b
print(c)

9

In [32]:
if True:
    print("This is true!")
for i in range(3):
    print(i)
def hello():
    print("Hello ,world!")
while False:
    print("This won't print")

This is true!
0
1
2

In [33]:
#1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4

s = ( 1 + 2 + 3 + 4+
     1 + 2 + 3 + 4 )

In [34]:
fruits=["apple","grapes","guava"]
print(fruits)

['apple', 'grapes', 'guava']

In [35]:
hetero_mylist = ['1','debu',["apple","grapes","guava"]]
print(hetero_mylist)

['1', 'debu', ['apple', 'grapes', 'guava']]

In [36]:
import keyword

In [37]:
type("today's thought")

str

In [38]:
a=6
b=a+2
c=b+a
c

14

In [39]:
c=5
print(id(c))
print(c)
d=7
c=c+d
print(id(c))
print(c)
c=40
print(id(c))
print(c)

2513758191984
5
2513758192208
12
2513758193104
40

In [40]:
c='abc'
c

'abc'

In [41]:
id(c)

2513759476912

In [42]:
a=[2,3.80,'apple',True]

In [43]:
a

[2, 3.8, 'apple', True]

In [44]:
len(a)

4

In [45]:
a[0]

2

In [46]:
a[1]

3.8

In [47]:
a[-1]

True

In [48]:
s='grapes'

In [49]:
s[-1]

's'

In [50]:
s[3]

'p'

In [51]:
score=100
wickets=5
print(score)
print(wickets)

100
5

In [52]:
_name="debu"
_age=20
print(_name)
print(_age)

debu
20

In [53]:
my_list=[1,2,3,4,5,6]
print(my_list[-1])
print(my_list[0])
my_list[1]=8
print(my_list[2])

6
1
3

In [54]:
my_tuple=(1,2,3,4,"debu",[5,6,7])
print(my_tuple)

(1, 2, 3, 4, 'debu', [5, 6, 7])

In [55]:
my_tuple=("a","s","d","debu",1,2,3)
print(my_tuple)

('a', 's', 'd', 'debu', 1, 2, 3)

In [56]:
print(my_tuple[0])

a

In [57]:
print(my_tuple[-2])

2

In [58]:
print(my_tuple[3])

debu

In [59]:
print(my_tuple[0])

a

In [60]:
print(my_tuple[1])

s

In [61]:
my_dict={"name":"debu","age":25,(1,2,3):100}
print(my_dict)

{'name': 'debu', 'age': 25, (1, 2, 3): 100}

In [62]:
my_dict.keys()

dict_keys(['name', 'age', (1, 2, 3)])

In [63]:
my_dict['debu']

KeyError: 'debu'

In [ ]:
my_list=[1,2,3,4,["a","b","c"]]
print(my_list[-1])

In [ ]:
import math
result=math.sqrt(25)
print(result)

In [ ]:
from math import sqrt
result=sqrt(64)
print(result)

In [ ]:
x=10
if x < 20:
    print("this is a possitive number")

In [ ]:
x=5
if x>8:
    print("it is true")
else:
    print("it is false")

In [ ]:
A="my name is debu, i have, a lenevo i-3 laptop"
#type(A)=string
B=A.split('name') #3type(B)=list
print(B)

In [ ]:
C=A.split('a')
print(C)

In [ ]:
A="he is hari, he has ,no money"
B=A.split('is')
print(B)

In [ ]:
C=A.split('h')
print(C)

In [ ]:
len(C)

In [ ]:
D=A.split('i')
print(D)

In [ ]:
A.startswith('he is')

In [ ]:
A.startswith('he has')

In [ ]:
True==True

In [ ]:
True==False

In [ ]:
False==True

In [ ]:
False==False

In [ ]:
'''
A="virat kohli is,the greatest batsman"
B=A.split("kohli")
print(B)
'''

In [ ]:
A="virat kohli is,the greatest batsman"
B=A.split("kohli")
print(B)

In [ ]:
C=A.split("a")
print(C)

In [ ]:
len(C)

In [ ]:
A.startswith("virat")

In [ ]:
A.startswith("kohli")

In [ ]:
for i in range(1,8):
    print(i)

In [ ]:
for i in range(30):
    print(i)

In [ ]:
for i in range (2,9,2):
    print(i)

In [ ]:
for i in range (1,29,6):
    print(i)

In [ ]:
iteration=1
for i in range(5):
    print(i)
    iteration=iteration+1
    print("number of iteration:",iteration)

In [ ]:
iteration=2
for i in range (10):
    print(i)
    iteration=iteration+1
    print("number of iteration:",iteration)

In [ ]:
a=10
b=3
print(a+b)
print(a-b)
print(a/b)

In [ ]:
print(a//b)

In [ ]:
a=20
b=3
print(a//b)

In [ ]:
print(a%b)

In [ ]:
print(a*b)

In [ ]:
print(a**b)

In [ ]:
print(a**a)

In [ ]:
a=3
b=4
print(a*b)

In [ ]:
print(a**b)

In [ ]:
print(a**a)

In [ ]:
a=10
b=30
print(a==b)
print(a or b)
print(b or a)

In [ ]:
a=5
b=10
print(a>b)

In [ ]:
print(a<b)

In [ ]:
a=2
b=2
print(a>=b)

In [ ]:
print(a!=b)

In [ ]:
a=True
b=False 
print(a&b)

In [ ]:
print(not b)

In [ ]:
print(a==b)

In [ ]:
print(a or b)

In [ ]:
a=10
b=4
print(a | b)

In [ ]:
a=30
b=28
print(a|b)

In [ ]:
a=10
b=4
print(a^b)

In [ ]:
a = 10
result=a>>2
print(result)

In [ ]:
a=10
result=a<<3
print(result)

In [ ]:
a=20
result=a>>2

In [ ]:
print(result)

In [ ]:
result=a<<2
print(result)

In [ ]:
a=100
result=a>>2

In [ ]:
print(result)

In [ ]:
a = 5
result=a>>2
print(result)

In [ ]:
bin(10)

In [ ]:
'spam' + 'spamspam'

In [ ]:
'spam'*3

In [ ]:
a=10
b=5
print(a%b)

In [ ]:
a=20
result=(a>>2)  #this is right shift
print(result)

In [ ]:
result = (a<<2)  #this is left shift
print(result)

In [ ]:
a=10
b=5
print(a != b)

In [ ]:
a=15
b=15
print(a != b)

In [ ]:
print(a==b)

In [ ]:
print(a>=b)

In [ ]:
a=10
b=10
a += 3
print(a)

In [ ]:
b == 4

In [ ]:
b+=4
print(b)

In [ ]:
if "virat score a century":
    print("he is genius:")
else:
    print ("also he is a genius:")

"""
    virat kohli is great
    he is absolute genius
    no one can match his level:
"""

In [ ]:
a=10
a -=3
print(a)

In [ ]:
a=5
a*=2

In [ ]:
print(a)

In [ ]:
if "subha avoid the cockroach":
    print("she is brave")
else:
    print("she is cowerd")

In [ ]:
a = 15
b = 4
print(a % b)

In [ ]:
a = 20
b = 6
result = a >> 2 + b >> 2
print(result)

In [ ]:
result = a >> 2
print(result)

In [ ]:
name=input("enter student name:")
print(f"welcome to:{name}")

In [ ]:
st_rank=input("enter st_rank:")
print(f"welcome ur rank:{st_rank}")

In [ ]:
runs=100
if runs >=100:
    print("congrats,you scored a century:")
elif runs>=90:
    print("omg,you just lost ur century:")
elif runs >= 50:
    print("good, you scored a halfcentury:")
else:
    print("sorry,you fals to score good:")

In [ ]:
rank=3
if rank<=5:
    print("congs,you are qualified:")
elif rank <= 10:
    print("good luck,u r in reserved :")
else:
    print("sorry,u r rejected:")

In [ ]:
num1=10
num2=20
num3=30

if (num1>=num2) and (num1>=num3):
    largest=num1
elif (num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
    
print("largest num is",largest)

In [ ]:
a =10
b = 8
c = 5
if (a>b) and (a>c):
    elder = a
    print("elder is",a)
elif (b>a) and (b>c):
    print("elder is",b)
else:
    print("elder is",c)

In [ ]:
num1=float(input("enter the first number"))
num2=float(input("enter the 2nd number"))
num3=float(input("enter the 3rd number"))
if (num1>num2) and (num1>num3):
        largest=num1
elif (num2>num1) and (num2>num3):
       largest=num2
else:
    largest=num3
    
    print("largest num is",largest)

In [ ]:
num1=float(input("enter the first number"))
num2=float(input("enter the 2nd number"))
num3=float(input("enter the 3rd number"))
if (num1>num2) and (num1>num3):
        largest=num1
elif (num2>num1) and (num2>num3):
       largest=num2
else:
    largest=num3
    
    print("largest num is",largest)

In [ ]:
num1=float(input("enter the 1st num"))
num2=float(input("enter the 2nd num"))
num3=float(input("enter the 3rd num"))
if (num1>num2) and (num1 > num3):
    largest=num1
    print("largest num is",largest)
    
elif (num2>num1) and (num2>num3):
    largest=num2
    print("largest num is",largest)
else:
     print("largest num is",largest)

In [ ]:
for i in  range(10):
    print(i)

In [ ]:
for i in range (2,10,2):
    print(i)

In [ ]:
Flist = ["apple","cherry"]

In [ ]:
num=[10,5,18,12,9,20,30,6,15,3]
for i in range(len(num)):
    print(i)
    print(num[i])

In [ ]:
for i in Flist:
    print(i)
    for j in (i):
        if j=="a":
            print("it's a ")
        else:
            print("it's not a")

In [ ]:
a

In [ ]:
country=["India","UK","USA"]
for index in range (len(country)):
    print(country[index])

In [ ]:
rows=6
for i in range (rows):
    for j in range(i+1):
        print("^",end=" ")
    print()

In [ ]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[5:])

In [ ]:
print(numbers[:5])

In [ ]:
print(numbers[1:5])

In [ ]:
print(numbers[1:])

In [ ]:
print (numbers[:1])

In [ ]:
print(numbers[-4:])

In [ ]:
print(numbers[:-3])

In [ ]:
print(numbers[1:5:2])

In [ ]:
print(numbers[::-3])

In [ ]:
print(numbers[::2])

In [ ]:
fruits=["apple","banana","cherry","apple","blackberry"]

In [ ]:
print("before changing ite by index",fruits)
fruits[0]="kiwi"
print("after changing item by index",fruits)

In [ ]:
fruits[2:2]=["guava","papaya"]
print("after changing the list",fruits)

In [ ]:
del fruits[1:2]
print(fruits)

In [ ]:
fruits.clear()
print(fruits)

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9)
numbers[0]

In [ ]:
numbers[0:-1]

In [ ]:
numbers1=list(numbers)
numbers1[8]=0           #we can change the tuple into list then 
                       # change the element then again convert to tuple
numbers=tuple(numbers1)
print(numbers)

In [ ]:
for digit in numbers:
    print(digit)

In [ ]:
more_numbers=(10,11,12,13)
joined_tuple=numbers+more_numbers
print(joined_tuple)

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9]
my_list=my_list+["apple"]
my_list

In [ ]:
my_list*2

In [ ]:
for i in range(9):
        print(i)

In [ ]:
for j in range(i):
    print(j)

In [ ]:
my_list.append("orange")

In [ ]:
print(my_list)

In [ ]:
my_list.pop(-1)
print(my_list)

In [ ]:
popped_list=my_list.pop()

In [ ]:
print(popped_list)

In [ ]:
my_list.reverse()
print(my_list)

In [ ]:
my_list.sort()
print(my_list)

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
my_list=[list1,list2,list3]
print(my_list)
my_list[0]

In [ ]:
my_dict={'name':'debu','age':20,'ps':'bdchna'}
my_dict["name"]

In [ ]:
my_dict["name"].upper()

In [ ]:
my_dict

In [ ]:
dict1{}
dict1.append["name":"debu"]
dict1.append["age":20]
print(dict1)

In [ ]:
d={'key1':1,'key2':2,'key3':3}
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
t=(1,2,3,4)
len(t)

In [ ]:
t[-1]

In [ ]:
x=set()
x.add(1)
x

In [ ]:
x.add(2)
x

In [ ]:
list=[1,2,3,4,5,6]
set(list)

In [ ]:
list.append(7)
list

In [ ]:
set(list)

In [ ]:
a=5
b=3
c=8

a==b

In [ ]:
a>b

In [ ]:
a +=3

In [ ]:
print(a)

In [ ]:
a>c

In [ ]:
if True:
    print("it is true")

In [ ]:
x=True
if x:
    print("it is true")
else:
    print("it may be false ,but not true")

In [ ]:
loc="bittle shop"
if loc=="bank":
    print("welccome to bank")
elif loc=="bittle shop":
    print("welcome to bittle shop")
else:
    print("this is wrong location")

In [ ]:
list=[1,2,3,4,5,6,7,8]

In [ ]:
for num in list:
    if num % 2==0:
        print(num)

In [ ]:
for num in list:
    if num % 2 != 0:
        print(num)
    else:
        print("even number")

In [ ]:
for num in list:
    if num % 2 == 0:
        print("even numbers")
    else:
        print("odd numbers")

In [ ]:
list_sum=0
for num in list:
    list_sum +=num
    print(list_sum)

In [ ]:
for i in "apple":
    print(i)

In [ ]:
d={"k1":1,"k2":2,"k3":3}

In [ ]:
for item in d:
    print(item)

In [ ]:
d.item()

In [ ]:
fruits=['apple','kiwi','papaya','berry','orange']
for fruit in fruits:
    print(fruit)

In [ ]:
for i in range(len(fruits)):
    print(f"item at index{i}is{fruits[i]}")

In [ ]:
print(fruits)
fruit1=[fruit.upper() for fruit in fruits]
print(fruit1)

In [ ]:
fruits.sort()

In [ ]:
print("in ascending order:",fruits)

In [ ]:
fruits.sort(reverse = True)
print("in descending order:",fruits)

In [ ]:
fruits_copy=fruits.copy()
print("copied fruit_list:",fruits_copy)

In [ ]:
fruits1=["guava","grapes"]
fruit_joined=fruits+fruits1
print("after adding fruit_list:",fruit_joined)

In [ ]:
my_tuple=(1,2,3,4,5,6)
tuple1=(7,8,9)
joined_tuple=my_tuple+tuple1
print(joined_tuple)

In [ ]:
for num in my_tuple:
    print(num)

In [ ]:
def greet():
    print("hello world!")

In [ ]:
greet()

In [ ]:
def greet(name):
    print("hello,"+name+"!")
greet("Debu")

In [ ]:
def greet(tuple1):
    print("this is my_tuple:" +tuple1 +"!")
greet(("1,2,3"))

In [ ]:
def add_numbers(num1,num2):
    return num1+num2
result=add_numbers(2,5)
print(result)

In [ ]:
def introduction():
    print("Hello,this is my first fuction")
introduction()

In [ ]:
def introduction(fname):
    print(fname + " is my first name.")
introduction("john")

In [ ]:
def intro(fname, gname):
        print("my first name is " + fname + "my last name is" + gname)
intro("john","cena")

In [ ]:
def numbers(num):
    for i in range (num):
        b=i+2
    return b

In [ ]:
c=numbers(3)

In [ ]:
c

In [ ]:
def multi(num1,num2):
    return num1*num2

In [ ]:
def final(n1,n2,num3):
    v=multi(n1,n2)
    return v+num3

In [ ]:
b=final(10,5,2)

In [ ]:
b

In [ ]:
multi()

In [ ]:
def add_numbers(num1,num2):
    sum=num1+num2
    return sum
result=add_numbers(4,8)
print("the sum is ",result)

In [ ]:
def My_Mini_Calculator():
    number_1 = float(input("Enter the first number: "))
    number_2 = float(input("Enter the second number: "))

    # Addition
    result = number_1 + number_2
    print("The sum is:", result)

    # Subtraction
    result = number_1 - number_2
    print("The difference is:", result)

    # Multiplication
    result = number_1 * number_2
    print("The product is:", result)

    # Division
    result = number_1 / number_2
    print("The quotient is:", result)
    
# Call the function
My_Mini_Calculator()

In [ ]:
num1=5
num2=10
if num1 !=0:
    result=num2/num1
    print("the quotient is:",result)
else:
    print("oops therebis an error:it divide by 0.")

In [ ]:
def format_name():
    first_name=input("enter the first name:")
    last_name=input("enter the last name:")
    
    formated_first_name=first_name.capitalize()
    formated_last_name=last_name.capitalize()
    
    print("the name is:",formated_first_name,formated_last_name)
    
format_name()

In [ ]:
def print_even_numbers():
    n=int(input("enter the rsnge limit:"))
    even_numbers=[]
    for num in range(1,n+1):
        if num%2 ==0:
            even_numbers.append(num)
    print("even numbers are up to :",n,"are",even_numbers)

In [ ]:
print_even_numbers()

In [ ]:
addition= lambda x,y,z :x+y+z
print(addition(3,4,5))

In [ ]:
def addition(x,y,z):
    sum=x+y+z
    return sum
result=addition(3,4,5)
print("the sum is:",result)

In [ ]:
square=lambda x:x**3
print(square(2))

In [ ]:
calculate=lambda x,y:x*y
print(calculate(2,3))

In [ ]:
def print_even_numbers():
    n=int(input("enter the range limit:"))
    even_numbers=[]
    for num in range(1,n+1):
        if num % 2 ==0:
            even_numbers.append(num)
            
    print("even numbers up to ",n," are " , even_numbers)

In [ ]:
print_even_numbers()

In [ ]:
add =lambda x,y :x+y
print(add(5,8))

In [ ]:
add_three_numbers=lambda x,y,z :x+y+z
result=add_three_numbers(4,5,6)
print("the sum of three numbers is:",result)

In [65]:
square=lambda x:x**2
print(square(6))

36

In [66]:
name=lambda x,y:x+y
print(name("debasish","nayak"))

debasishnayak

In [67]:
max_num=lambda x,y: x if x>y else y
print(max_num(5,20))

20

In [68]:
even_or_odd=lambda x: "even" if x %2 ==0 else "odd"
print(even_or_odd(5))

odd

In [69]:
add=lambda :int(input("enter first num:"))+ int(input("enter sec num:"))
print(add())

enter first num:8

KeyboardInterrupt: Interrupted by user

In [70]:
lambda_func=lambda x: [i **2 for i in x]
print(lambda_func([1,2,3,4,5,6,7]))

[1, 4, 9, 16, 25, 36, 49]

In [71]:
products= [
    {"name":'product1',"price":50},
    {"name":'product2',"price":40},
    {"name":'product3',"price":30},
    {"name":'product4',"price":20}, 
]
sorted_products=sorted(products, key=lambda x: x["price"])
for product in sorted_products:
    print(product)

{'name': 'product4', 'price': 20}
{'name': 'product3', 'price': 30}
{'name': 'product2', 'price': 40}
{'name': 'product1', 'price': 50}

In [72]:
def recursive_sum(n):
    if n==1:
        return 1
    else:
        return n +recursive_sum(n-1)
print(recursive_sum(5))

15

In [73]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(3))

6

In [74]:
def my_fibonacci(n):
    a,b=0,1
    for i in range(n):
        print(a)
        a,b=b,a+b
        
my_fibonacci(8)

0
1
1
2
3
5
8
13

In [75]:
cnt=1

def my_fibnacci(n):
    global cnt
    
    if n <= 0:
        return[]
    elif n==1:
        return [0]
    elif n== 2:
        return [0,1]
    else:
        fibonacci_series = my_fibonacci(n-1)
        
        print(f"step{cnt}:ourfibonacci series upto n-1 term={fibonacci_series})
        cnt += 1
        next_term= fibonacci_series[-1]+fibonacci_series[-2]
        print(f"step{cnt}:next term to add={next_term})      
        cnt +=1
        fibonacci_series.append(next_term)
        print(f"step{cnt}:our fibonacci series after adding next term={fibonacci_series})
        cnt += 1
        return fibonacci_series
print()

SyntaxError: unterminated string literal (detected at line 15) (4215574952.py, line 15)

In [76]:
# We need to have a counter
cnt = 1 # This is a counter, because to explain each step. Nothing more than it.

def my_fibonacci(n):
    global cnt

    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fibonacci_series = my_fibonacci(n - 1)
        print(f"Step {cnt}: Our Fibonacci series up to n-1 terms = {fibonacci_series}")
        cnt += 1
        next_term = fibonacci_series[-1] + fibonacci_series[-2]
        print(f"Step {cnt}: Next term to add = {next_term}")
        cnt += 1
        fibonacci_series.append(next_term)
        print(f"Step {cnt}: Our Fibonacci series after adding next term = {fibonacci_series}")
        cnt += 1
        return fibonacci_series

print("So my final Fibonacci series is ---> ", my_fibonacci(4))

Step 1: Our Fibonacci series up to n-1 terms = [0, 1]
Step 2: Next term to add = 1
Step 3: Our Fibonacci series after adding next term = [0, 1, 1]
Step 4: Our Fibonacci series up to n-1 terms = [0, 1, 1]
Step 5: Next term to add = 2
Step 6: Our Fibonacci series after adding next term = [0, 1, 1, 2]
So my final Fibonacci series is --->  [0, 1, 1, 2]

In [77]:
class WrongAge(Exception):
    "Raised when the input value is less than 100"
    pass

In [78]:
type(WrongAge)

type

In [79]:
n=18
try :
    input_number=int(input("enter the age"))
    if input_number < n:
        raise WrongAge
    else:
        print("you can work")
except WrongAge:
    print("invalid age: you can't work")

enter the age

ValueError: invalid literal for int() with base 10: ''

In [80]:
try:
    print(x)
except :
    print("there is no x")
else:
    print("no error")

there is no x

In [81]:
try:
    print(x)
except :
    print("there is no x")
finally:
    print("try and except are executed")

there is no x
try and except are executed

In [82]:
try: 
    n = int(input("enter num1:"))
    d = int(input("enter num2:"))
    result=n/d
    print("result:",result)
#except:
    #print("younhave devided the number by zero")
except:
    print("you entered float")

enter num1:
you entered float

In [83]:
try:
    list1=[1,2,3,4,5,6,7]
    print(list1[8])
except :
    print("index number is not in range")

index number is not in range

In [84]:
try:
    x=2
    y=6
    z="12"
    p=x+y+z
    print(p)
except TypeError:
    print("type error")

type error

In [85]:
def add_numbers(num1,num2):
    sum=num1+num2
    return sum
print(add_numbers(4,7))

11

In [86]:
def my_calculator():
    num1=int(input("enter the first number:"))
    num2=int(input("enter the2nd number:"))
    
    result=num1+num2
    print("the susm is:",result)
    
    result=num1-num2
    print("the difference is:",result)
    
    result=num1*num2
    print("the product is:",result)
    
    result=num1/num2
    print("the quotient is:",result)
    
my_calculator()

enter the first number:

ValueError: invalid literal for int() with base 10: ''

In [87]:
def print_even_numbers():
    n=int(input("enter the range limit:"))
    even_numbers=[]
    for num in range(1,n+1):
        if num%2 ==0:
            even_numbers.append(num)
            
    print("the even numbers in range ", n , " are ",even_numbers)
print_even_numbers()

KeyboardInterrupt: Interrupted by user

In [ ]:
add = lambda x,y: x+y
print(add(4,5))

In [88]:
even_or_odd=lambda x: 'even' if x%2==0 else 'odd'
print(even_or_odd(5))

odd

In [89]:
square=lambda x: [i **2 for i in x]
print(square([1,2,3,4,5,6,7,8]))

[1, 4, 9, 16, 25, 36, 49, 64]

In [90]:
products=[{"name":"product1","price":50},
         {"name":"product2", "price":40},
         {"name":"product3","price":20},
          {"name":"product4","price":60},
         ]
sorted_products=sorted(products, key=lambda x: x["price"])
for product in sorted_products:
    print(product)

{'name': 'product3', 'price': 20}
{'name': 'product2', 'price': 40}
{'name': 'product1', 'price': 50}
{'name': 'product4', 'price': 60}

In [93]:
def my_fibonacci(n):
        a,b =0,1 
        for i in range(n):
            print(a)
            a,b=b,a+b
my_fibonacci(9)

0
1
1
2
3
5
8
13
21

In [99]:
cnt=1
def my_fibonacci(n):
    global cnt
    
    if n <= 0 :
        return []
    elif n== 1:
        return [0]
    elif n == 2 :
        return [0,1]
    else:
        fibonacci_series=my_fibonacci(n-1)
        print(f"step {cnt}: our fibonacci series up to n-1 term:",fibonacci_series)
        
        cnt += 1
        next_term=fibonacci_series[-1]+fibonacci_series[-2]
        print(f"step{cnt}::next to add={next_term}")
        
        cnt += 1
        fibonacci_series.append(next_term)
        print(f"step {cnt}:our fibonacci series :",fibonacci_series)
        cnt+=1
        return fibonacci_series
print("so my final fibonacci series is:", my_fibonacci(8))

step 1: our fibonacci series up to n-1 term: [0, 1]
step2::next to add=1
step 3:our fibonacci series : [0, 1, 1]
step 4: our fibonacci series up to n-1 term: [0, 1, 1]
step5::next to add=2
step 6:our fibonacci series : [0, 1, 1, 2]
step 7: our fibonacci series up to n-1 term: [0, 1, 1, 2]
step8::next to add=3
step 9:our fibonacci series : [0, 1, 1, 2, 3]
step 10: our fibonacci series up to n-1 term: [0, 1, 1, 2, 3]
step11::next to add=5
step 12:our fibonacci series : [0, 1, 1, 2, 3, 5]
step 13: our fibonacci series up to n-1 term: [0, 1, 1, 2, 3, 5]
step14::next to add=8
step 15:our fibonacci series : [0, 1, 1, 2, 3, 5, 8]
step 16: our fibonacci series up to n-1 term: [0, 1, 1, 2, 3, 5, 8]
step17::next to add=13
step 18:our fibonacci series : [0, 1, 1, 2, 3, 5, 8, 13]
so my final fibonacci series is: [0, 1, 1, 2, 3, 5, 8, 13]

In [1]:
try :
    print("good morning ,it is monday")
    
except:
    print("some issue")
    
else:
    print(("no issue"))

good morning ,it is monday
no issue

In [2]:
try:
    n=int(input("enter the numerator:"))
    d=int(input("enter the denominator:"))
    
    result=n/d
    print("result:",result)
    
except:
    print("Enter a valid intiger")

enter the numerator:5
enter the denominator:2.56
Enter a valid intiger

In [5]:
try:
    file_location="file123.text"
    
    with open(file_location,"w")as file:
        file.write("this is my file")
        
except IOError:
    print(f"unable to write to file'{file_location}'.")

In [6]:
try:
    import library2234
except:
    print("unsucccessful to import 'library2234'")

unsucccessful to import 'library2234'

In [7]:
try:
    result=4000**20
    
except OverflowError:
    print("Error:calculation resulted in an overflow")
else:
    print(result)

1099511627776000000000000000000000000000000000000000000000000000000000000

In [8]:
""""Raised when the result of an arithmetic operation is too large
    to be expressed by the normal number format.""""
try:
    result = 5000 ** 10  # Attempting to calculate an extremely large number

except OverflowError:
    print("Error: Calculation resulted in an overflow.")
else:
    print(result)

SyntaxError: unterminated string literal (detected at line 2) (557400132.py, line 2)

In [13]:
try:
    age=20
    age.append(5)
except:
    print("'age', object has no attribute'append'")

'age', object has no attribute'append'

In [10]:
class WrongAge (exception):
    "raised when the input age less than 18"
    pass

NameError: name 'exception' is not defined

In [11]:
n=18
try:
    input_age=int(input("enter the age:"))
    if input_age <n:
        raise wroingAge
    else:
        print("you can vote")
        
except:
    print('you cannot vote at this age')

enter the age:17
you cannot vote at this age

In [14]:
import logging
logging.basicConfig(level=logging.DEBUG)

def add(x,y):
    logging.debug("variables are %s and%s ",x,y)
    return x + y
add(4,5)

DEBUG:root:variables are 4 and5

9

In [16]:
import logging
logging.basicConfig(level=logging.INFO)

def login123(user):
    logging.info("the user name is %s", user)
    
login123("admin")

INFO:root:the user name is admin

In [ ]:
import logging
logging.basicConfig(level=logging.WARNING)

def my_balance(amount):
    if my_balance < 20000:
        logging.warning("sorry ")