In [1]:
import keyword

In [2]:
words=keyword.kwlist
words

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
len(words)

35

In [1]:
a=4
b=5
c=a+b
print(c)

9

In [4]:
if True:
    print("This is true!")
for i in range(3):
    print(i)
def hello():
    print("Hello ,world!")
while False:
    print("This won't print")

This is true!
0
1
2

In [10]:
#1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 + 1 + 2 + 3 + 4

s = ( 1 + 2 + 3 + 4+
     1 + 2 + 3 + 4 )

In [1]:
fruits=["apple","grapes","guava"]
print(fruits)

['apple', 'grapes', 'guava']

In [3]:
hetero_mylist = ['1','debu',["apple","grapes","guava"]]
print(hetero_mylist)

['1', 'debu', ['apple', 'grapes', 'guava']]

In [9]:
type("today's thought")

str

In [10]:
a=6
b=a+2
c=b+a
c

14

In [15]:
c=5
print(id(c))
print(c)
d=7
c=c+d
print(id(c))
print(c)
c=40
print(id(c))
print(c)

1982174265712
5
1982174265936
12
1982174266832
40

In [16]:
c='abc'
c

'abc'

In [14]:
id(c)

1982174266832

In [18]:
a=[2,3.80,'apple',True]

In [21]:
a

[2, 3.8, 'apple', True]

In [20]:
len(a)

4

In [22]:
a[0]

2

In [23]:
a[1]

3.8

In [24]:
a[-1]

True

In [25]:
s='grapes'

In [26]:
s[-1]

's'

In [27]:
s[3]

'p'

In [1]:
score=100
wickets=5
print(score)
print(wickets)

100
5

In [5]:
_name="debu"
_age=20
print(_name)
print(_age)

debu
20

In [6]:
my_list=[1,2,3,4,5,6]
print(my_list[-1])
print(my_list[0])
my_list[1]=8
print(my_list[2])

6
1
3

In [7]:
my_tuple=(1,2,3,4,"debu",[5,6,7])
print(my_tuple)

(1, 2, 3, 4, 'debu', [5, 6, 7])

In [12]:
my_tuple=("a","s","d","debu",1,2,3)
print(my_tuple)

('a', 's', 'd', 'debu', 1, 2, 3)

In [13]:
print(my_tuple[0])

a

In [14]:
print(my_tuple[-2])

2

In [15]:
print(my_tuple[3])

debu

In [24]:
print(my_tuple[0])

a

In [18]:
print(my_tuple[1])

s

In [26]:
my_dict={"name":"debu","age":25,(1,2,3):100}
print(my_dict)

{'name': 'debu', 'age': 25, (1, 2, 3): 100}

In [28]:
my_dict.keys()

dict_keys(['name', 'age', (1, 2, 3)])

In [31]:
my_dict['debu']

KeyError: 'debu'

In [36]:
my_list=[1,2,3,4,["a","b","c"]]
print(my_list[-1])

['a', 'b', 'c']

In [37]:
import math
result=math.sqrt(25)
print(result)

5.0

In [41]:
from math import sqrt
result=sqrt(64)
print(result)

8.0

In [42]:
x=10
if x < 20:
    print("this is a possitive number")

this is a possitive number

In [45]:
x=5
if x>8:
    print("it is true")
else:
    print("it is false")

it is false

In [4]:
A="my name is debu, i have, a lenevo i-3 laptop"
#type(A)=string
B=A.split('name') #3type(B)=list
print(B)

['my ', ' is debu, i have, a lenevo i-3 laptop']

In [9]:
C=A.split('a')
print(C)

['my n', 'me is debu, i h', 've, ', ' lenevo i-3 l', 'ptop']

In [10]:
A="he is hari, he has ,no money"
B=A.split('is')
print(B)

['he ', ' hari, he has ,no money']

In [11]:
C=A.split('h')
print(C)

['', 'e is ', 'ari, ', 'e ', 'as ,no money']

In [12]:
len(C)

5

In [13]:
D=A.split('i')
print(D)

['he ', 's har', ', he has ,no money']

In [20]:
A.startswith('he is')

True

In [21]:
A.startswith('he has')

False

In [51]:
True==True

True

In [52]:
True==False

False

In [53]:
False==True

False

In [54]:
False==False

True

In [55]:
'''
A="virat kohli is,the greatest batsman"
B=A.split("kohli")
print(B)
'''

'\nA="virat kohli is,the greatest batsman"\nB=A.split("kohli")\nprint(B)\n'

In [28]:
A="virat kohli is,the greatest batsman"
B=A.split("kohli")
print(B)

['virat ', ' is,the greatest batsman']

In [29]:
C=A.split("a")
print(C)

['vir', 't kohli is,the gre', 'test b', 'tsm', 'n']

In [30]:
len(C)

5

In [31]:
A.startswith("virat")

True

In [33]:
A.startswith("kohli")

False

In [34]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [39]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [40]:
for i in range (2,9,2):
    print(i)

2
4
6
8

In [41]:
for i in range (1,29,6):
    print(i)

1
7
13
19
25

In [44]:
iteration=1
for i in range(5):
    print(i)
    iteration=iteration+1
    print("number of iteration:",iteration)

0
number of iteration: 2
1
number of iteration: 3
2
number of iteration: 4
3
number of iteration: 5
4
number of iteration: 6

In [45]:
iteration=2
for i in range (10):
    print(i)
    iteration=iteration+1
    print("number of iteration:",iteration)

0
number of iteration: 3
1
number of iteration: 4
2
number of iteration: 5
3
number of iteration: 6
4
number of iteration: 7
5
number of iteration: 8
6
number of iteration: 9
7
number of iteration: 10
8
number of iteration: 11
9
number of iteration: 12

In [1]:
a=10
b=3
print(a+b)
print(a-b)
print(a/b)

13
7
3.3333333333333335

In [2]:
print(a//b)

3

In [3]:
a=20
b=3
print(a//b)

6

In [4]:
print(a%b)

2

In [5]:
print(a*b)

60

In [6]:
print(a**b)

8000

In [7]:
print(a**a)

104857600000000000000000000

In [8]:
a=3
b=4
print(a*b)

12

In [9]:
print(a**b)

81

In [12]:
print(a**a)

27

In [26]:
a=10
b=30
print(a==b)
print(a or b)
print(b or a)

False
10
30

In [14]:
a=5
b=10
print(a>b)

False

In [15]:
print(a<b)

True

In [16]:
a=2
b=2
print(a>=b)

True

In [17]:
print(a!=b)

False

In [20]:
a=True
b=False 
print(a&b)

False

In [22]:
print(not b)

True

In [23]:
print(a==b)

False

In [24]:
print(a or b)

True

In [29]:
a=10
b=4
print(a | b)

14

In [33]:
a=30
b=28
print(a|b)

30

In [34]:
a=10
b=4
print(a^b)

14

In [35]:
a = 10
result=a>>2
print(result)

2

In [50]:
a=10
result=a<<3
print(result)

80

In [37]:
a=20
result=a>>2

In [38]:
print(result)

5

In [39]:
result=a<<2
print(result)

80

In [46]:
a=100
result=a>>2

In [47]:
print(result)

25

In [42]:
a = 5
result=a>>2
print(result)

1

In [43]:
bin(10)

'0b1010'

In [56]:
'spam' + 'spamspam'

'spamspamspam'

In [57]:
'spam'*3

'spamspamspam'

In [1]:
a=10
b=5
print(a%b)

0

In [2]:
a=20
result=(a>>2)  #this is right shift
print(result)

5

In [3]:
result = (a<<2)  #this is left shift
print(result)

80

In [4]:
a=10
b=5
print(a != b)

True

In [5]:
a=15
b=15
print(a != b)

False

In [7]:
print(a==b)

True

In [9]:
print(a>=b)

True

In [13]:
a=10
b=10
a += 3
print(a)

13

In [14]:
b == 4

False

In [15]:
b+=4
print(b)

14

In [24]:
if "virat score a century":
    print("he is genius:")
else:
    print ("also he is a genius:")

"""
    virat kohli is great
    he is absolute genius
    no one can match his level:
"""

he is genius:

'\n    virat kohli is great\n    he is absolute genius\n    no one can match his level:\n'

In [25]:
a=10
a -=3
print(a)

7

In [26]:
a=5
a*=2

In [27]:
print(a)

10

In [28]:
if "subha avoid the cockroach":
    print("she is brave")
else:
    print("she is cowerd")

she is brave

In [29]:
a = 15
b = 4
print(a % b)

3

In [30]:
a = 20
b = 6
result = a >> 2 + b >> 2
print(result)

0

In [32]:
result = a >> 2
print(result)

5

In [4]:
name=input("enter student name:")
print(f"welcome to:{name}")

enter student name:jerry
welcome to:jerry

In [8]:
st_rank=input("enter st_rank:")
print(f"welcome ur rank:{st_rank}")

enter st_rank:1
welcome ur rank:1

In [13]:
runs=100
if runs >=100:
    print("congrats,you scored a century:")
elif runs>=90:
    print("omg,you just lost ur century:")
elif runs >= 50:
    print("good, you scored a halfcentury:")
else:
    print("sorry,you fals to score good:")

congrats,you scored a century:

In [20]:
rank=3
if rank<=5:
    print("congs,you are qualified:")
elif rank <= 10:
    print("good luck,u r in reserved :")
else:
    print("sorry,u r rejected:")

congs,you are qualified:

In [25]:
num1=10
num2=20
num3=30

if (num1>=num2) and (num1>=num3):
    largest=num1
elif (num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
    
print("largest num is",largest)

largest num is 30

In [30]:
a =10
b = 8
c = 5
if (a>b) and (a>c):
    elder = a
    print("elder is",a)
elif (b>a) and (b>c):
    print("elder is",b)
else:
    print("elder is",c)

elder is 10

In [37]:
num1=float(input("enter the first number"))
num2=float(input("enter the 2nd number"))
num3=float(input("enter the 3rd number"))
if (num1>num2) and (num1>num3):
        largest=num1
elif (num2>num1) and (num2>num3):
       largest=num2
else:
    largest=num3
    
    print("largest num is",largest)

enter the first number10
enter the 2nd number20
enter the 3rd number50
largest num is 50.0

In [39]:
num1=float(input("enter the first number"))
num2=float(input("enter the 2nd number"))
num3=float(input("enter the 3rd number"))
if (num1>num2) and (num1>num3):
        largest=num1
elif (num2>num1) and (num2>num3):
       largest=num2
else:
    largest=num3
    
    print("largest num is",largest)

enter the first number25
enter the 2nd number52
enter the 3rd number62
largest num is 62.0

In [41]:
num1=float(input("enter the 1st num"))
num2=float(input("enter the 2nd num"))
num3=float(input("enter the 3rd num"))
if (num1>num2) and (num1 > num3):
    largest=num1
    print("largest num is",largest)
    
elif (num2>num1) and (num2>num3):
    largest=num2
    print("largest num is",largest)
else:
     print("largest num is",largest)

enter the 1st num58
enter the 2nd num67
enter the 3rd num89
largest num is 62.0

In [42]:
for i in  range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in range (2,10,2):
    print(i)

2
4
6
8

In [57]:
Flist = ["apple","cherry"]

In [50]:
num=[10,5,18,12,9,20,30,6,15,3]
for i in range(len(num)):
    print(i)
    print(num[i])

0
10
1
5
2
18
3
12
4
9
5
20
6
30
7
6
8
15
9
3

In [60]:
for i in Flist:
    print(i)
    for j in (i):
        if j=="a":
            print("it's a ")
        else:
            print("it's not a")

apple
it's a
it's not a
it's not a
it's not a
it's not a
cherry
it's not a
it's not a
it's not a
it's not a
it's not a
it's not a

In [56]:
a

10

In [66]:
country=["India","UK","USA"]
for index in range (len(country)):
    print(country[index])

India
UK
USA

In [71]:
rows=6
for i in range (rows):
    for j in range(i+1):
        print("^",end=" ")
    print()

^
^ ^
^ ^ ^
^ ^ ^ ^
^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^

In [2]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers[5:])

[5, 6, 7, 8, 9]

In [4]:
print(numbers[:5])

[0, 1, 2, 3, 4]

In [5]:
print(numbers[1:5])

[1, 2, 3, 4]

In [6]:
print(numbers[1:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
print (numbers[:1])

[0]

In [8]:
print(numbers[-4:])

[6, 7, 8, 9]

In [9]:
print(numbers[:-3])

[0, 1, 2, 3, 4, 5, 6]

In [10]:
print(numbers[1:5:2])

[1, 3]

In [3]:
print(numbers[::-3])

[9, 6, 3, 0]

In [4]:
print(numbers[::2])

[0, 2, 4, 6, 8]

In [4]:
fruits=["apple","banana","cherry","apple","blackberry"]

In [2]:
print("before changing ite by index",fruits)
fruits[0]="kiwi"
print("after changing item by index",fruits)

before changing ite by index ['apple', 'banana', 'cherry', 'apple', 'blackberry']
after changing item by index ['kiwi', 'banana', 'cherry', 'apple', 'blackberry']

In [3]:
fruits[2:2]=["guava","papaya"]
print("after changing the list",fruits)

after changing the list ['kiwi', 'banana', 'guava', 'papaya', 'cherry', 'apple', 'blackberry']

In [6]:
del fruits[1:2]
print(fruits)

['apple', 'cherry', 'apple', 'blackberry']

In [5]:
fruits.clear()
print(fruits)

[]

In [8]:
numbers=(1,2,3,4,5,6,7,8,9)
numbers[0]

1

In [11]:
numbers[0:-1]

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
numbers1=list(numbers)
numbers1[8]=0           #we can change the tuple into list then 
                       # change the element then again convert to tuple
numbers=tuple(numbers1)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 0)

In [20]:
for digit in numbers:
    print(digit)

1
2
3
4
5
6
7
8
0

In [22]:
more_numbers=(10,11,12,13)
joined_tuple=numbers+more_numbers
print(joined_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 0, 10, 11, 12, 13)

In [22]:
my_list=[1,2,3,4,5,6,7,8,9]
my_list=my_list+["apple"]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple']

In [3]:
my_list*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple']

In [11]:
for i in range(9):
        print(i)

0
1
2
3
4
5
6
7
8

In [12]:
for j in range(i):
    print(j)

0
1
2
3
4
5
6
7

In [13]:
my_list.append("orange")

In [19]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
my_list.pop(-1)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
popped_list=my_list.pop()

In [25]:
print(popped_list)

9

In [26]:
my_list.reverse()
print(my_list)

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
my_list=[list1,list2,list3]
print(my_list)
my_list[0]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[1, 2, 3]

In [32]:
my_dict={'name':'debu','age':20,'ps':'bdchna'}
my_dict["name"]

'debu'

In [33]:
my_dict["name"].upper()

'DEBU'

In [36]:
my_dict

{'name': 'debu', 'age': 20, 'ps': 'bdchna'}

In [42]:
dict1{}
dict1.append["name":"debu"]
dict1.append["age":20]
print(dict1)

SyntaxError: invalid syntax (2256289728.py, line 1)

In [43]:
d={'key1':1,'key2':2,'key3':3}
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [44]:
d.values()

dict_values([1, 2, 3])

In [45]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [53]:
t=(1,2,3,4)
len(t)

4

In [54]:
t[-1]

4

In [57]:
x=set()
x.add(1)
x

{1}

In [59]:
x.add(2)
x

{1, 2}

In [60]:
list=[1,2,3,4,5,6]
set(list)

{1, 2, 3, 4, 5, 6}

In [66]:
list.append(7)
list

[1, 2, 3, 4, 5, 6, 7]

In [67]:
set(list)

{1, 2, 3, 4, 5, 6, 7}

In [68]:
a=5
b=3
c=8

a==b

False

In [69]:
a>b

True

In [72]:
a +=3

In [73]:
print(a)

10

In [74]:
a>c

True

In [76]:
if True:
    print("it is true")

it is true

In [78]:
x=True
if x:
    print("it is true")
else:
    print("it may be false ,but not true")

it is true

In [86]:
loc="bittle shop"
if loc=="bank":
    print("welccome to bank")
elif loc=="bittle shop":
    print("welcome to bittle shop")
else:
    print("this is wrong location")

welcome to bittle shop

In [89]:
list=[1,2,3,4,5,6,7,8]

In [88]:
for num in list:
    if num % 2==0:
        print(num)

2
4
6
8

In [93]:
for num in list:
    if num % 2 != 0:
        print(num)
    else:
        print("even number")

1
even number
3
even number
5
even number
7
even number

In [94]:
for num in list:
    if num % 2 == 0:
        print("even numbers")
    else:
        print("odd numbers")

odd numbers
even numbers
odd numbers
even numbers
odd numbers
even numbers
odd numbers
even numbers

In [95]:
list_sum=0
for num in list:
    list_sum +=num
    print(list_sum)

1
3
6
10
15
21
28
36

In [96]:
for i in "apple":
    print(i)

a
p
p
l
e

In [108]:
d={"k1":1,"k2":2,"k3":3}

In [109]:
for item in d:
    print(item)

k1
k2
k3

In [110]:
d.item()

AttributeError: 'dict' object has no attribute 'item'

In [3]:
fruits=['apple','kiwi','papaya','berry','orange']
for fruit in fruits:
    print(fruit)

apple
kiwi
papaya
berry
orange

In [4]:
for i in range(len(fruits)):
    print(f"item at index{i}is{fruits[i]}")

item at index0isapple
item at index1iskiwi
item at index2ispapaya
item at index3isberry
item at index4isorange

In [18]:
print(fruits)
fruit1=[fruit.upper() for fruit in fruits]
print(fruit1)

['papaya', 'orange', 'kiwi', 'berry', 'apple']
['PAPAYA', 'ORANGE', 'KIWI', 'BERRY', 'APPLE']

In [19]:
fruits.sort()

In [20]:
print("in ascending order:",fruits)

in ascending order: ['apple', 'berry', 'kiwi', 'orange', 'papaya']

In [21]:
fruits.sort(reverse = True)
print("in descending order:",fruits)

in descending order: ['papaya', 'orange', 'kiwi', 'berry', 'apple']

In [22]:
fruits_copy=fruits.copy()
print("copied fruit_list:",fruits_copy)

copied fruit_list: ['papaya', 'orange', 'kiwi', 'berry', 'apple']

In [25]:
fruits1=["guava","grapes"]
fruit_joined=fruits+fruits1
print("after adding fruit_list:",fruit_joined)

after adding fruit_list: ['papaya', 'orange', 'kiwi', 'berry', 'apple', 'guava', 'grapes']

In [26]:
my_tuple=(1,2,3,4,5,6)
tuple1=(7,8,9)
joined_tuple=my_tuple+tuple1
print(joined_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
for num in my_tuple:
    print(num)

1
2
3
4
5
6

In [28]:
def greet():
    print("hello world!")

In [29]:
greet()

hello world!

In [35]:
def greet(name):
    print("hello,"+name+"!")
greet("Debu")

hello,Debu!

In [49]:
def greet(tuple1):
    print("this is my_tuple:" +tuple1 +"!")
greet(("1,2,3"))

this is my_tuple:1,2,3!

In [50]:
def add_numbers(num1,num2):
    return num1+num2
result=add_numbers(2,5)
print(result)

7

In [3]:
def introduction():
    print("Hello,this is my first fuction")
introduction()

Hello,this is my first fuction

In [9]:
def introduction(fname):
    print(fname + " is my first name.")
introduction("john")

john is my first name.

In [13]:
def intro(fname, gname):
        print("my first name is " + fname + "my last name is" + gname)
intro("john","cena")

my first name is johnmy last name iscena

In [25]:
def numbers(num):
    for i in range (num):
        b=i+2
    return b

In [26]:
c=numbers(3)

In [27]:
c

4

In [28]:
def multi(num1,num2):
    return num1*num2

In [29]:
def final(n1,n2,num3):
    v=multi(n1,n2)
    return v+num3

In [35]:
b=final(10,5,2)

In [36]:
b

52

In [34]:
multi()

TypeError: multi() takes 2 positional arguments but 3 were given

In [44]:
def add_numbers(num1,num2):
    sum=num1+num2
    return sum
result=add_numbers(4,8)
print("the sum is ",result)

the sum is  12

In [55]:
def My_Mini_Calculator():
    number_1 = float(input("Enter the first number: "))
    number_2 = float(input("Enter the second number: "))

    # Addition
    result = number_1 + number_2
    print("The sum is:", result)

    # Subtraction
    result = number_1 - number_2
    print("The difference is:", result)

    # Multiplication
    result = number_1 * number_2
    print("The product is:", result)

    # Division
    result = number_1 / number_2
    print("The quotient is:", result)
    
# Call the function
My_Mini_Calculator()

Enter the first number: 3
Enter the second number: 4
The sum is: 7.0
The difference is: -1.0
The product is: 12.0
The quotient is: 0.75

In [63]:
num1=5
num2=10
if num1 !=0:
    result=num2/num1
    print("the quotient is:",result)
else:
    print("oops therebis an error:it divide by 0.")

the quotient is: 2.0

In [65]:
def format_name():
    first_name=input("enter the first name:")
    last_name=input("enter the last name:")
    
    formated_first_name=first_name.capitalize()
    formated_last_name=last_name.capitalize()
    
    print("the name is:",formated_first_name,formated_last_name)
    
format_name()

enter the first name:debasish
enter the last name:nayak
the name is: Debasish Nayak

In [68]:
def print_even_numbers():
    n=int(input("enter the rsnge limit:"))
    even_numbers=[]
    for num in range(1,n+1):
        if num%2 ==0:
            even_numbers.append(num)
    print("even numbers are up to :",n,"are",even_numbers)

In [69]:
print_even_numbers()

enter the rsnge limit:9
even numbers are up to : 9 are [2, 4, 6, 8]

In [71]:
addition= lambda x,y,z :x+y+z
print(addition(3,4,5))

12

In [75]:
def addition(x,y,z):
    sum=x+y+z
    return sum
result=addition(3,4,5)
print("the sum is:",result)

the sum is: 12

In [76]:
square=lambda x:x**3
print(square(2))

8

In [78]:
calculate=lambda x,y:x*y
print(calculate(2,3))

6

In [5]:
def print_even_numbers():
    n=int(input("enter the range limit:"))
    even_numbers=[]
    for num in range(1,n+1):
        if num % 2 ==0:
            even_numbers.append(num)
            
    print("even numbers up to ",n," are " , even_numbers)

In [6]:
print_even_numbers()

enter the range limit:9
even numbers up to  9  are  [2, 4, 6, 8]

In [8]:
add =lambda x,y :x+y
print(add(5,8))

13

In [11]:
add_three_numbers=lambda x,y,z :x+y+z
result=add_three_numbers(4,5,6)
print("the sum of three numbers is:",result)

the sum of three numbers is: 15

In [12]:
square=lambda x:x**2
print(square(6))

36

In [29]:
name=lambda x,y:x+y
print(name("debasish","nayak"))

debasishnayak

In [30]:
max_num=lambda x,y: x if x>y else y
print(max_num(5,20))

20

In [31]:
even_or_odd=lambda x: "even" if x %2 ==0 else "odd"
print(even_or_odd(5))

odd

In [32]:
add=lambda :int(input("enter first num:"))+ int(input("enter sec num:"))
print(add())

enter first num:30
enter sec num:60
90

In [33]:
lambda_func=lambda x: [i **2 for i in x]
print(lambda_func([1,2,3,4,5,6,7]))

[1, 4, 9, 16, 25, 36, 49]

In [50]:
products= [
    {"name":'product1',"price":50},
    {"name":'product2',"price":40},
    {"name":'product3',"price":30},
    {"name":'product4',"price":20}, 
]
sorted_products=sorted(products, key=lambda x: x["price"])
for product in sorted_products:
    print(product)

{'name': 'product4', 'price': 20}
{'name': 'product3', 'price': 30}
{'name': 'product2', 'price': 40}
{'name': 'product1', 'price': 50}

In [53]:
def recursive_sum(n):
    if n==1:
        return 1
    else:
        return n +recursive_sum(n-1)
print(recursive_sum(5))

15

In [54]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(3))

6

In [56]:
def my_fibonacci(n):
    a,b=0,1
    for i in range(n):
        print(a)
        a,b=b,a+b
        
my_fibonacci(8)

0
1
1
2
3
5
8
13

In [ ]:
cnt=1

def my_fibnacci(n):
    global cnt
    
    if n <= 0:
        return[]
    elif n==1:
        return [0]
    elif n== 2:
        return [0,1]
    else:
        fibonacci_series = my_fibonacci(n-1)
        
        print(f"step{cnt}:ourfibonacci series upto n-1 term={fibonacci_series})
        cnt += 1
        next_term= fibonacci_series[-1]+fibonacci_series[-2]
        print(f"step{cnt}:next term to add={next_term})      
        cnt +=1
        fibonacci_series.append(next_term)
        print(f"step{cnt}:our fibonacci series after adding next term={fibonacci_series})
        cnt += 1
        return fibonacci_series
print()

In [59]:
# We need to have a counter
cnt = 1 # This is a counter, because to explain each step. Nothing more than it.

def my_fibonacci(n):
    global cnt

    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fibonacci_series = my_fibonacci(n - 1)
        print(f"Step {cnt}: Our Fibonacci series up to n-1 terms = {fibonacci_series}")
        cnt += 1
        next_term = fibonacci_series[-1] + fibonacci_series[-2]
        print(f"Step {cnt}: Next term to add = {next_term}")
        cnt += 1
        fibonacci_series.append(next_term)
        print(f"Step {cnt}: Our Fibonacci series after adding next term = {fibonacci_series}")
        cnt += 1
        return fibonacci_series

print("So my final Fibonacci series is ---> ", my_fibonacci(4))

Step 1: Our Fibonacci series up to n-1 terms = [0, 1]
Step 2: Next term to add = 1
Step 3: Our Fibonacci series after adding next term = [0, 1, 1]
Step 4: Our Fibonacci series up to n-1 terms = [0, 1, 1]
Step 5: Next term to add = 2
Step 6: Our Fibonacci series after adding next term = [0, 1, 1, 2]
So my final Fibonacci series is --->  [0, 1, 1, 2]

In [8]:
class WrongAge(Exception):
    "Raised when the input value is less than 100"
    pass

In [9]:
type(WrongAge)

type

In [12]:
n=18
try :
    input_number=int(input("enter the age"))
    if input_number < n:
        raise WrongAge
    else:
        print("you can work")
except WrongAge:
    print("invalid age: you can't work")

enter the age10
invalid age: you can't work

In [5]:
try:
    print(x)
except :
    print("there is no x")
else:
    print("no error")

there is no x

In [2]:
try:
    print(x)
except :
    print("there is no x")
finally:
    print("try and except are executed")

there is no x
try and except are executed

In [25]:
try: 
    n = int(input("enter num1:"))
    d = int(input("enter num2:"))
    result=n/d
    print("result:",result)
#except:
    #print("younhave devided the number by zero")
except:
    print("you entered float")

enter num1:5
enter num2:8.9
you entered float

In [27]:
try:
    list1=[1,2,3,4,5,6,7]
    print(list1[8])
except :
    print("index number is not in range")

index number is not in range

In [ ]:
try:
    x=2
    y=6
    z="12"
    p=x+y+z
    print(p)
except TypeError:
    print()