# PANDAS

In [37]:
from io import StringIO
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","row5"],columns=["column1","column2","column3","column4"])
print(df)

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
row5       16       17       18       19

In [6]:
#use of df.abs()
data={
    'A': [-1,2,-3,4,-5],
    'B': [6,-7,8,-9,10],
    'C': [-11,-12,13,14,-15]
}

df=pd.DataFrame(data)
print("orginal dataframe :")
print(df)

abs_df=df.abs()

print('DataFrame with absolute values:')
print(abs_df)

orginal dataframe :
   A   B   C
0 -1   6 -11
1  2  -7 -12
2 -3   8  13
3  4  -9  14
4 -5  10 -15
DataFrame with absolute values:
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [9]:
#use of df.add()
data1={
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
}
data2={
    'A': [3,4,5],
    'B': [2,1,6],
    'C': [7,4,9]
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("DataFrame 1 is :")
print(df1)
print("DataFrame 2 is :")
print(df2)

df_add=df1.add(df2)
print("Addition of two dataframe :")
print(df_add)

DataFrame 1 is :
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
DataFrame 2 is :
   A  B  C
0  3  2  7
1  4  1  4
2  5  6  9
Addition of two dataframe :
   A   B   C
0  4   6  14
1  6   6  12
2  8  12  18

In [10]:
#add of a scalar with DataFrame

print("addition of scalar with dataframe :")
print(df1.add(5))

addition of scalar with dataframe :
   A   B   C
0  6   9  12
1  7  10  13
2  8  11  14

In [12]:
#Use of df.add_prefix()
data={
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
}

df=pd.DataFrame(data)
print("Original DataFrame is :")
print(df)

df_prefix=df.add_prefix("Column_")
print("After adding prefix the DataFrame is :")
print(df_prefix)

Original DataFrame is :
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
After adding prefix the DataFrame is :
   Column_A  Column_B  Column_C
0         1         4         7
1         2         5         8
2         3         6         9

In [13]:
#Using df.add_suffix
df_suffix=df.add_suffix("_column")
print("dataframe after adding suffix:")
print(df_suffix)

dataframe after adding suffix:
   A_column  B_column  C_column
0         1         4         7
1         2         5         8
2         3         6         9

In [14]:
#Using df.agg
data={
    'A': [1,2,3,4,5],
    'B': [6,7,8,9,10],
    'C': [11,12,13,14,15]
}

print("original dataframe is :")
df=pd.DataFrame(data)
print(df)
aggregated_df=df.agg(['sum','mean','max','min'])
print("aggregated dataframe is :")
print(aggregated_df)

original dataframe is :
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15
aggregated dataframe is :
         A     B     C
sum   15.0  40.0  65.0
mean   3.0   8.0  13.0
max    5.0  10.0  15.0
min    1.0   6.0  11.0

In [18]:
#using df.align
data1={'A':[1,2,3],
       'B':[4,5,6]
      }
data2={'B':[7,8,9],
       'C':[10,11,12]
      }
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("original DataFrame1 is :")
print(df1)
print("Original DataFrame 2 is :")
print(df2)
aligned_df1,aligned_df2=df1.align(df2)
print("Aligned DataFrame 1 ;")
print(aligned_df1)
print("Aligned dataFrame 2 is :")
print(aligned_df2)

original DataFrame1 is :
   A  B
0  1  4
1  2  5
2  3  6
Original DataFrame 2 is :
   B   C
0  7  10
1  8  11
2  9  12
Aligned DataFrame 1 ;
   A  B   C
0  1  4 NaN
1  2  5 NaN
2  3  6 NaN
Aligned dataFrame 2 is :
    A  B   C
0 NaN  7  10
1 NaN  8  11
2 NaN  9  12

In [19]:
import pandas as pd

# Create two sample DataFrames with different column names and indices
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df1 = pd.DataFrame(data1)

data2 = {
    'B': [7, 8, 9],
    'C': [10, 11, 12]
}
df2 = pd.DataFrame(data2)

# Display the original DataFrames
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# Align the DataFrames along both row and column indices using df.align()
aligned_df1, aligned_df2 = df1.align(df2)

# Display the aligned DataFrames
print("\nAligned DataFrame 1:")
print(aligned_df1)
print("\nAligned DataFrame 2:")
print(aligned_df2)

DataFrame 1:
   A  B
0  1  4
1  2  5
2  3  6

DataFrame 2:
   B   C
0  7  10
1  8  11
2  9  12

Aligned DataFrame 1:
   A  B   C
0  1  4 NaN
1  2  5 NaN
2  3  6 NaN

Aligned DataFrame 2:
    A  B   C
0 NaN  7  10
1 NaN  8  11
2 NaN  9  12

In [31]:
#Using df.all()
data={'A' :[0,2,3,],
     'B': [0,3,4],
     'C': [1,1,1]
     }
df=pd.DataFrame(data)
print("original DataFrame :")
print(df)
all_columns=df.all()
print("\nCheck if all elements of column non_zero:")
print(all_columns)
all_rows=df.all(axis=1)
print("\ncheck if all elementes in rows non_zero :")
print(all_rows)

original DataFrame :
   A  B  C
0  0  0  1
1  2  3  1
2  3  4  1

Check if all elements of column non_zero:
A    False
B    False
C     True
dtype: bool

check if all elementes in rows non_zero :
0    False
1     True
2     True
dtype: bool

In [35]:
# USing df.any
data={'A' :[0,2,3,],
     'B': [0,3,4],
     'C': [0,1,1]
     }
df=pd.DataFrame(data)
print("original DataFrame :")
print(df)
any_column=df.any()
print("check if any element of column is non_zero :")
print(any_column)
any_row=df.any(axis=1)
print("check if any element of row is non_zero:")
print(any_row)

original DataFrame :
   A  B  C
0  0  0  0
1  2  3  1
2  3  4  1
check if any element of column is non_zero :
A    True
B    True
C    True
dtype: bool
check if any element of row is non_zero:
0    False
1     True
2     True
dtype: bool

In [42]:
#Using df.append
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
data2 = {
    'A': [7, 8, 9],
    'B': [10, 11, 12]
}
df1=pd.DataFrame(data1)
print("original dataframe 1:")
print(df1)
df2=pd.DataFrame(data2)
print("Original DataFrame 2:")
print(df2)
append_func=df1.append(df2)
print("DataFrame after append :")
print(append_func)

original dataframe 1:
   A  B
0  1  4
1  2  5
2  3  6
Original DataFrame 2:
   A   B
0  7  10
1  8  11
2  9  12
DataFrame after append :
   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

C:\Users\madhu\AppData\Local\Temp\ipykernel_24496\4174461875.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_func=df1.append(df2)

In [49]:
#df.apply
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
    
    }

df=pd.DataFrame(data)
print("Original DataFrame :")
print(df)
def double_value(x):
        return x*2
    
result_columnwise=df['A'].apply(double_value)
print("After apply result columnwise :")
print(result_columnwise)

result_rowwise=df['B'].apply(lambda x:x**2)
print("After apply result rowwise :")
print(result_rowwise)

Original DataFrame :
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
After apply result columnwise :
0    2
1    4
2    6
Name: A, dtype: int64
After apply result rowwise :
0    16
1    25
2    36
Name: B, dtype: int64