In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

In [9]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    
    if n % 2 != 0 :
        print("Weird")
    elif n % 2 == 0 and n in range(2,6):
        print("Not weird")
    elif n % 2 ==0 and n in range(6,21):
        print(" Weird ")
    elif n % 2 ==0 and n>20:
        print("Not weird ")

6
 Weird

In [12]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(1*bn

SyntaxError: unexpected character after line continuation character (4097260096.py, line 6)

In [14]:
def is_leap(year):
    leap = False
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
year = int(input())
print(is_leap(year))

2016
True

In [27]:
if __name__ == '__main__':
    n = int(input())
    result = ""
    for i in range (1,n):
        result += str(i) + " "
        print(result)

3

TypeError: 'str' object is not callable

In [31]:
if __name__ == '__main__':
    n = int(input())
    for i in range (1,n+1):
        print(i, end="")

3
123

In [33]:
if __name__ == "__main__":
    try:
        a = int(input("Enter numerator: "))
        b = int(input("Enter denominator: "))
        
        result = a // b
        print(result)
        
    except ZeroDivisionError as e:
        print("Zero Division Error:", e)
    except ValueError as e:
        print("Value Error:", e)

Enter numerator: 4
Enter denominator: #
Value Error: invalid literal for int() with base 10: '#'

In [36]:
if __name__ == "__main__":
    try:
        n = int(input("Enter the number of test cases: "))
        for _ in range(n):
            a, b = map(int, input("Enter numerator and denominator separated by space: ").split())
            result = a // b
            print(result)
    except ZeroDivisionError as e:
        print("Zero Division Error:", e)
    except ValueError as e:
        print("Value Error:", e)

Enter the number of test cases: 4
Enter numerator and denominator separated by space: 3 0
Zero Division Error: integer division or modulo by zero

In [38]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())

coordinates=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)]

result=[coordinate for coordinate in coordinates if sum(coordinate) != n]

print(result)

2
2
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 2, 0], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 2], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [50]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    
    for i in arr:
        if i==(max(arr)-1):
            print("Runner up score is ",i)

4
2 3 4 5

In [40]:
arr=[1,2,3,4]

In [41]:
max(arr)

4

In [42]:
type(arr)

list

In [44]:
ar1=np.array(arr)

In [45]:
type(ar1)

numpy.ndarray

In [47]:
max(ar1)-1

3

In [48]:
for i in ar1:
    if i==(max(ar1)-1):
        print("Runner up score is ",i)

Runner up score is  3

In [54]:
n = int(input())
arr = list(map(int, input().split()))

for i in arr:
    if i==(max(arr)-1):
        print("Runner up score is ",i)

4
2 3 4 5
Runner up score is  4

In [52]:
float("-inf")

-inf

In [53]:
float('-inf')

-inf

In [55]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    
    max_score = max(arr)
    runner_up_score = float('-inf')  # Initialize with negative infinity
    
    for score in arr:
        if score < max_score and score > runner_up_score:
            runner_up_score = score
    
    print("Runner up score is", runner_up_score)

6
2 3 2 3 6 4 7 8 2
Runner up score is 7