In [8]:
if 5 >3:
    print("Five is greater than two")

Five is greater than two

In [9]:
x,y,z="apple","banana","orange"
print(x,y,z)

apple banana orange

In [10]:
x='Python'
y="is"
z="Awesome"
print(x,y,z)
print(x+y+z)

Python is Awesome
PythonisAwesome

In [12]:
x="Awesome"
def myfunc():
    x="Fantastic"
    print("That is ",x)
    
myfunc()
print("HE is ",x)

That is  Fantastic
HE is  Awesome

In [13]:
print(type(x))

<class 'str'>

In [20]:

x1= str("Hello World")
x2= int(20)
x3 = float(20.5)
x4= complex(1j)
x5= list(("apple", "banana", "cherry"))
x6= tuple(("apple", "banana", "cherry"))
x7= range(6)
x8= dict(name="John", age=36)
x9= set(("apple", "banana", "cherry"))
xa= frozenset(("apple", "banana", "cherry"))
xb= bool(5)
xc= bytes(5)
xd= bytearray(5)
xe= memoryview(bytes(5))

In [26]:
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)
print(x7)
print(x8)
print(x9)

Hello World
20
20.5
1j
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'apple', 'cherry', 'banana'}

In [28]:
x=2
y=2.0
z=1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [29]:
x="banana"
for i in x:
    print(i)

b
a
n
a
n
a

In [31]:
print(len(x))

6

In [40]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [42]:
b = "Hello, World!"
print(b[3:6])

lo,

In [43]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [46]:
txt ="The best thing in life is free !"
if "Water " in txt:
    print("Yes water is in txt")
else:
    print("No water is not in txt")

No water is not in txt

In [47]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [54]:
a=" I eat Mango  "
print(a.strip())

I eat Mango

In [55]:
print(a.replace("I","U"))

 U eat Mango