In [3]:
#if statement
#nested if else condition

age=float(input("Enter the age"))

if age > 18 :
    print("you are elligible")
elif age < 18 :
    print("you aer undere age")
else:
    print('Nothing ')

Enter the age17
you aer undere age

In [6]:
age=float(input("Enter the age"))

if age < 18:
    print("You are elligible")
    
elif age >=18 and age <=30:
    print("Mid age ")
elif age >45 and age <60:
    print("Senior citizen")
    
else :
    print("super senior citizen")

Enter the age70
super senior citizen

In [8]:
#loops statement
#for loop ,while loop

lst=[1,2,3,4,5,6,7]
for i in lst:
    #print(i)
    #print(i**2)
    print(i+1)

2
3
4
5
6
7
8

In [10]:
##find the sum of all functions in the list

lst=[1,2,3,4,5,6,7]

sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

28

In [11]:
sum(lst)

28

In [13]:
#adding even and odd separately
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0

for i in lst:
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        
print("Even sum is {}".format(even_sum))
print("odd sum is {}".format(odd_sum))

Even sum is 12
odd sum is 16

In [2]:
#while condition

i=1
even_sum=0
odd_sum=0
while i <= 10:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    
    i=i+1
print(even_sum,odd_sum)

30 25

In [3]:
#break

x=1

while x< 7:
    print(x)
    
    if x==4:
        break
        
    x=x+1

1
2
3
4

In [2]:
#continue

x=1

while x< 7:
   
    x=x+1
    if x==4:
        continue
    print(x)

2
3
5
6
7

In [7]:


age=int(input("Enter the age"))
if age > 18 and age <45:
    print("mid age")
elif age < 18 or age >=60:
    print("succesfully executed")

Enter the age69
succesfully executed

In [8]:
#bool
a='krish'
b="krsih1"
a==b

False

In [9]:
a="debu"
b="debu"
a==b

True

In [10]:
a is b

True

In [12]:
print(id(a))
print(id(b))

2402028194416
2402028194416

In [13]:
100!=109

True

In [14]:
100<180

True

In [15]:
280>877

False

In [16]:
200>=200

True

In [20]:
marks=float(input('Enter marks'))

if marks>=35 :
    print("pass")
    if marks>=60 and marks<=70:
        print("First class")
elif marks < 35:
    print("Fail")

Enter marks69
pass
First class

In [21]:
#arithmatic operator

24+53

77

In [22]:
34*27

918

In [24]:

25/5

5.0

In [25]:
#int division output
27//5

5

In [26]:
48-34

14

In [27]:
12**2

144