In [11]:
import datetime
x=datetime.datetime.now()
print(x)

2023-10-10 11:54:39.581872

In [12]:
#giving only year and day
print(x.year)
print(x.strftime("%A"))
#giving time
print(x.strftime("%T"))

2023
Tuesday
11:54:39

In [13]:
#give month name
print(x.strftime("%B"))

October

In [15]:
#local version of date and time
print(x.strftime("%c"))
# loacal version of time "%X"
# local version of date"%x"

Tue Oct 10 11:54:39 2023

In [20]:
#4 to the power of 3
4**3

64

In [21]:
x=pow(4,3)
x

64

In [24]:
#converting to round number
import math

#math.ceil used to convert to upward round up number
x=math.ceil(2.4)
#math.floor convert to downword round up number 
y=math.floor(4.7)

print(x)
print(y)

3
4

In [25]:
#pi value
math.pi

3.141592653589793

In [40]:
#inheritance
class Person:                      #parent class 
    def __init__(self,fname,lname):       
        self.fname=fname
        self.lname=lname
        
    def name(self):                 #method
        print("My name is {} {}".format(self.fname,self.lname))
        
x=Person("Debasish","Nayak")
x.name()

My name is Debasish Nayak

In [55]:
class student(Person):                    #child class
    def __init__(self,fname,lname,rank):  #construcor
        super().__init__(fname,lname)
        self.rank=rank
            
    def result(self):                     #method
        print(f"Name is {self.fname} {self.lname} and rank is {self.rank}")
        
st=student("Debasish","Nayak",1)

In [56]:
st.name()

My name is Debasish Nayak

In [71]:
'''
Dictionaries can't carry duplicates by default 
it delete duplicates value and keep one
  '''

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year":2022
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [62]:
#delete values 
thisdict.pop("model","Mustang") 
thisdict

{'brand': 'Ford', 'year': 2022}

In [69]:
#or del thisdict["model"]
del thisdict["model"]
thisdict

{'brand': 'Ford', 'year': 2022}

In [76]:
#loping for keys
for x in thisdict:
    print(x)

brand
model
year

In [74]:
#looping f0r values

for x in thisdict.values(): # or print(thisdict[x])
    print(x)

Ford
Mustang
2022

In [80]:
#looping for both key and values  by usign items method
for x,y in thisdict.items():
    print(x,":",y)

brand : Ford
model : Mustang
year : 2022

In [81]:
mylist= ["apple", "banana", "cherry", "apple", "cherry"]
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [82]:
len(mylist)

5

In [83]:
mylist[1:3]

['banana', 'cherry']

In [84]:
mylist.append("guava")

In [85]:
mylist

['apple', 'banana', 'cherry', 'apple', 'cherry', 'guava']

In [86]:
mylist.insert(2,"Guava")

In [93]:
[mylist.remove(x) for x in "papaya"]

[None, None, None, None, None, None]

In [94]:
mylist

['apple', 'banana', 'Guava', 'cherry', 'apple', 'cherry', 'guava']

In [95]:
mylist.sort()

In [96]:
mylist

['Guava', 'apple', 'apple', 'banana', 'cherry', 'cherry', 'guava']

In [105]:
mylist.remove("Guava")

In [106]:
mylist

['apple', 'apple', 'banana', 'cherry', 'cherry', 'guava']

In [107]:
if "apple" in mylist:
    print("Yes , apple is in mylist")
    
else:
    print("No, apple is not there")

Yes , apple is in mylist

In [128]:
#elements of mylist and there length
for i in mylist:
    print(i,"--", len(i))

apple -- 5
apple -- 5
banana -- 6
cherry -- 6
cherry -- 6
guava -- 5

In [134]:
x=13
y=15
z=13

if x > y :
    print("yes,x is bigger than y")
    
elif x==y :
    print("x and y are equal")
    
elif x > z:
    print("x less than y")
    
elif x==z :
    print("x and z are equal")
    
elif x==z==y:
    print("x,y,z all are equal")
    
else:
    print("no relatiion among them")

x and z are equal

In [143]:
#while loop

i=0

while i < 10 :
    print(i)   # it gives to 9
    if i==7:
         break
    i+=1
    #print(i)   # it gives to 10

0
1
2
3
4
5
6
7